pipeline/BuildSanctionDomains.json
{
	"name": "BuildSanctionDomains",
	"properties": {
		"description": "Download sanctions, narrow the list, normalize domains via Azure Function, and write to Cosmos DB.",
		"activities": [
			{
				"name": "DownloadFromInternet",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_DownloadedJSON_HTTP",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_DownloadedJSON_Blob",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "ProcessData",
				"description": "Runs the NarrowSanctionsList data flow",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "DownloadFromInternet",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "NarrowSanctionsList",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "NormalizeDomainsAndWriteToCosmos",
				"description": "Calls Azure Function NormalizeSanctionDomains to extract/normalize domains and upsert into Cosmos DB.",
				"type": "AzureFunctionActivity",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "ProcessData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "NormalizeSanctionDomains",
					"body": {
						"value": "@{activity('ProcessData').output}",
						"type": "Expression"
					},
					"headers": {
						"Content-Type": "application/json"
					},
					"method": "POST"
				}
			}
		],
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}