va-prod-sanctionfn-adf/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "va-prod-sanctionfn-adf"
		},
		"AzureAISearch_key": {
			"type": "secureString",
			"metadata": "Secure string for 'key' of 'AzureAISearch'"
		},
		"AzureAISearch_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://va-prod-sanctionfn-srch.search.windows.net"
		},
		"AzureBlobStorage_properties_typeProperties_serviceEndpoint": {
			"type": "string",
			"defaultValue": "https://vaprodsanctionfnst.blob.core.windows.net/"
		},
		"OpenSanctionsJSON_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://data.opensanctions.org/"
		},
		"ls_Cosmos_properties_typeProperties_accountEndpoint": {
			"type": "string",
			"defaultValue": "https://va-prod-vendor-cosno.documents.azure.com:443/"
		},
		"ls_Cosmos_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "va-prod-vendor-cosmos"
		},
		"ls_Cosmos_properties_typeProperties_subscriptionId": {
			"type": "string",
			"defaultValue": "7d2cec6f-cf67-4d7f-bd24-33700029bde7"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/BuildSanctionDomains')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Download sanctions, narrow the list, normalize domains via Azure Function, and write to Cosmos DB.",
				"activities": [
					{
						"name": "DownloadFromInternet",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_DownloadedJSON_HTTP",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_DownloadedJSON_Blob",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ProcessData",
						"description": "Runs the NarrowSanctionsKeepDomainColumns data flow",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "DownloadFromInternet",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "NarrowSanctionsKeepDomainColumns",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"GetSourceJSON": {},
									"SinkCosmos": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_DownloadedJSON_HTTP')]",
				"[concat(variables('factoryId'), '/datasets/ds_DownloadedJSON_Blob')]",
				"[concat(variables('factoryId'), '/dataflows/NarrowSanctionsKeepDomainColumns')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DownloadAndProcessSanctions')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Downloads raw sanction CSV from OpenSanctions.org",
				"activities": [
					{
						"name": "DownloadFromInternet",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_DownloadedJSON_HTTP",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_DownloadedJSON_Blob",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ProcessData",
						"description": "Runs the NarrowSanctionsList data flow",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "DownloadFromInternet",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "NarrowSanctionsKeepDomainColumns",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"GetSourceJSON": {},
									"SinkCosmos": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-05-25T09:17:44Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_DownloadedJSON_HTTP')]",
				"[concat(variables('factoryId'), '/datasets/ds_DownloadedJSON_Blob')]",
				"[concat(variables('factoryId'), '/dataflows/NarrowSanctionsKeepDomainColumns')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_AzureAISearchSanctionIndex')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureAISearch",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSearchIndex",
				"schema": [],
				"typeProperties": {
					"indexName": "sanctions-index"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureAISearch')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Cosmos')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_Cosmos",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "CosmosDbSqlApiCollection",
				"schema": {},
				"typeProperties": {
					"collectionName": "sanctionsRaw"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_Cosmos')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_DownloadedJSON_Blob')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "targets.nested.json",
						"folderPath": "input",
						"container": "scratch"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"id": {
							"type": "string"
						},
						"caption": {
							"type": "string"
						},
						"schema": {
							"type": "string"
						},
						"properties": {
							"type": "object",
							"properties": {
								"name": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"topics": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"ogrnCode": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"jurisdiction": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"alias": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"innCode": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"programId": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"address": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"sanctions": {
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"id": {
												"type": "string"
											},
											"caption": {
												"type": "string"
											},
											"schema": {
												"type": "string"
											},
											"properties": {
												"type": "object",
												"properties": {
													"programUrl": {
														"type": "array",
														"items": {
															"type": "string"
														}
													},
													"provisions": {
														"type": "array",
														"items": {
															"type": "string"
														}
													},
													"startDate": {
														"type": "array",
														"items": {
															"type": "string"
														}
													},
													"sourceUrl": {
														"type": "array",
														"items": {
															"type": "string"
														}
													},
													"program": {
														"type": "array",
														"items": {
															"type": "string"
														}
													},
													"programId": {
														"type": "array",
														"items": {
															"type": "string"
														}
													},
													"authority": {
														"type": "array",
														"items": {
															"type": "string"
														}
													},
													"country": {
														"type": "array",
														"items": {
															"type": "string"
														}
													},
													"duration": {
														"type": "array",
														"items": {
															"type": "string"
														}
													},
													"authorityId": {
														"type": "array",
														"items": {
															"type": "string"
														}
													},
													"status": {
														"type": "array",
														"items": {
															"type": "string"
														}
													},
													"endDate": {
														"type": "array",
														"items": {
															"type": "string"
														}
													},
													"entity": {
														"type": "array",
														"items": {
															"type": "string"
														}
													}
												}
											},
											"referents": {
												"type": "array"
											},
											"datasets": {
												"type": "array",
												"items": {
													"type": "string"
												}
											},
											"first_seen": {
												"type": "string"
											},
											"last_seen": {
												"type": "string"
											},
											"last_change": {
												"type": "string"
											},
											"target": {
												"type": "boolean"
											}
										}
									}
								},
								"registrationNumber": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"notes": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"modifiedAt": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"taxNumber": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"phone": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"email": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"addressEntity": {
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"id": {
												"type": "string"
											},
											"caption": {
												"type": "string"
											},
											"schema": {
												"type": "string"
											},
											"properties": {
												"type": "object",
												"properties": {
													"full": {
														"type": "array",
														"items": {
															"type": "string"
														}
													},
													"country": {
														"type": "array",
														"items": {
															"type": "string"
														}
													},
													"street": {
														"type": "array",
														"items": {
															"type": "string"
														}
													},
													"postalCode": {
														"type": "array",
														"items": {
															"type": "string"
														}
													},
													"city": {
														"type": "array",
														"items": {
															"type": "string"
														}
													},
													"region": {
														"type": "array",
														"items": {
															"type": "string"
														}
													}
												}
											},
											"referents": {
												"type": "array"
											},
											"datasets": {
												"type": "array",
												"items": {
													"type": "string"
												}
											},
											"first_seen": {
												"type": "string"
											},
											"last_seen": {
												"type": "string"
											},
											"last_change": {
												"type": "string"
											},
											"target": {
												"type": "boolean"
											}
										}
									}
								},
								"country": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"website": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"idNumber": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"sourceUrl": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"identification": {
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"id": {
												"type": "string"
											},
											"caption": {
												"type": "string"
											},
											"schema": {
												"type": "string"
											},
											"properties": {
												"type": "object",
												"properties": {
													"type": {
														"type": "array",
														"items": {
															"type": "string"
														}
													},
													"summary": {
														"type": "array",
														"items": {
															"type": "string"
														}
													},
													"holder": {
														"type": "array",
														"items": {
															"type": "string"
														}
													},
													"number": {
														"type": "array",
														"items": {
															"type": "string"
														}
													},
													"country": {
														"type": "array",
														"items": {
															"type": "string"
														}
													}
												}
											},
											"referents": {
												"type": "array"
											},
											"datasets": {
												"type": "array",
												"items": {
													"type": "string"
												}
											},
											"first_seen": {
												"type": "string"
											},
											"last_seen": {
												"type": "string"
											},
											"last_change": {
												"type": "string"
											},
											"target": {
												"type": "boolean"
											}
										}
									}
								},
								"gender": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"lastName": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"birthDate": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"nationality": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"firstName": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"citizenship": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"birthPlace": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"sector": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"incorporationDate": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"weakAlias": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"ownershipAsset": {
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"id": {
												"type": "string"
											},
											"caption": {
												"type": "string"
											},
											"schema": {
												"type": "string"
											},
											"properties": {
												"type": "object",
												"properties": {
													"role": {
														"type": "array",
														"items": {
															"type": "string"
														}
													},
													"owner": {
														"type": "array",
														"items": {
															"type": "object",
															"properties": {
																"id": {
																	"type": "string"
																},
																"caption": {
																	"type": "string"
																},
																"schema": {
																	"type": "string"
																},
																"properties": {
																	"type": "object",
																	"properties": {
																		"middleName": {
																			"type": "array",
																			"items": {
																				"type": "string"
																			}
																		},
																		"birthDate": {
																			"type": "array",
																			"items": {
																				"type": "string"
																			}
																		},
																		"passportNumber": {
																			"type": "array",
																			"items": {
																				"type": "string"
																			}
																		},
																		"lastName": {
																			"type": "array",
																			"items": {
																				"type": "string"
																			}
																		},
																		"name": {
																			"type": "array",
																			"items": {
																				"type": "string"
																			}
																		},
																		"topics": {
																			"type": "array",
																			"items": {
																				"type": "string"
																			}
																		},
																		"addressEntity": {
																			"type": "array",
																			"items": {
																				"type": "string"
																			}
																		},
																		"gender": {
																			"type": "array",
																			"items": {
																				"type": "string"
																			}
																		},
																		"country": {
																			"type": "array",
																			"items": {
																				"type": "string"
																			}
																		},
																		"weakAlias": {
																			"type": "array",
																			"items": {
																				"type": "string"
																			}
																		},
																		"address": {
																			"type": "array",
																			"items": {
																				"type": "string"
																			}
																		},
																		"nationality": {
																			"type": "array",
																			"items": {
																				"type": "string"
																			}
																		},
																		"birthPlace": {
																			"type": "array",
																			"items": {
																				"type": "string"
																			}
																		},
																		"sourceUrl": {
																			"type": "array",
																			"items": {
																				"type": "string"
																			}
																		}
																	}
																},
																"referents": {
																	"type": "array",
																	"items": {
																		"type": "string"
																	}
																},
																"datasets": {
																	"type": "array",
																	"items": {
																		"type": "string"
																	}
																},
																"first_seen": {
																	"type": "string"
																},
																"last_seen": {
																	"type": "string"
																},
																"last_change": {
																	"type": "string"
																},
																"target": {
																	"type": "boolean"
																}
															}
														}
													},
													"asset": {
														"type": "array",
														"items": {
															"type": "string"
														}
													}
												}
											},
											"referents": {
												"type": "array"
											},
											"datasets": {
												"type": "array",
												"items": {
													"type": "string"
												}
											},
											"first_seen": {
												"type": "string"
											},
											"last_seen": {
												"type": "string"
											},
											"last_change": {
												"type": "string"
											},
											"target": {
												"type": "boolean"
											}
										}
									}
								}
							}
						},
						"referents": {
							"type": "array",
							"items": {
								"type": "string"
							}
						},
						"datasets": {
							"type": "array",
							"items": {
								"type": "string"
							}
						},
						"first_seen": {
							"type": "string"
						},
						"last_seen": {
							"type": "string"
						},
						"last_change": {
							"type": "string"
						},
						"target": {
							"type": "boolean"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_DownloadedJSON_HTTP')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "OpenSanctionsJSON",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": {
							"value": "@concat('datasets/', formatDateTime(utcNow(), 'yyyyMMdd'), '/sanctions/entities.ftm.json')",
							"type": "Expression"
						}
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/OpenSanctionsJSON')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_TransformedJSON')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "targets.transformed.json",
						"folderPath": "output",
						"container": "scratch"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_TransformedJSON_with_domains')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "targets.transformedWithDomains.json",
						"folderPath": "output",
						"container": "scratch"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureAISearch')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSearch",
				"typeProperties": {
					"url": "[parameters('AzureAISearch_properties_typeProperties_url')]",
					"key": {
						"type": "SecureString",
						"value": "[parameters('AzureAISearch_key')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Output for transformed OpenSanctions CSV",
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"serviceEndpoint": "[parameters('AzureBlobStorage_properties_typeProperties_serviceEndpoint')]",
					"accountKind": "StorageV2"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/OpenSanctionsJSON')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "JSON dataset",
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('OpenSanctionsJSON_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_Cosmos')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "CosmosDb",
				"typeProperties": {
					"accountEndpoint": "[parameters('ls_Cosmos_properties_typeProperties_accountEndpoint')]",
					"database": "[parameters('ls_Cosmos_properties_typeProperties_database')]",
					"subscriptionId": "[parameters('ls_Cosmos_properties_typeProperties_subscriptionId')]",
					"tenantId": "4aaf5ca5-3a5a-4309-9d27-e97657ce6a17",
					"resourceGroup": "va-prod-rg-vendor"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/NarrowSanctionsKeepDomainColumns')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_DownloadedJSON_Blob",
								"type": "DatasetReference"
							},
							"name": "GetSourceJSON"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_Cosmos",
								"type": "DatasetReference"
							},
							"name": "SinkCosmos"
						}
					],
					"transformations": [
						{
							"name": "FilterEntityTypes",
							"description": "Only returns rows where 'schema' is Organizations, Company, LegalEntity or PublicBody"
						},
						{
							"name": "FlattenSanctionDatasetAndCountryColumn",
							"description": "Changes datasets from an array into a column"
						},
						{
							"name": "FilterSanctionSources",
							"description": "Only returns rows where 'datasets' is us_, eu_, gb_, or au_."
						}
					],
					"scriptLines": [
						"source(output(",
						"          id as string,",
						"          caption as string,",
						"          schema as string,",
						"          properties as (name as string[], topics as string[], ogrnCode as string[], jurisdiction as string[], alias as string[], innCode as string[], programId as string[], address as string[], sanctions as (id as string, caption as string, schema as string, properties as (programUrl as string[], provisions as string[], startDate as string[], sourceUrl as string[], program as string[], programId as string[], authority as string[], country as string[], duration as string[], authorityId as string[], status as string[], endDate as string[], entity as string[]), referents as string[], datasets as string[], first_seen as string, last_seen as string, last_change as string, target as boolean)[], registrationNumber as string[], notes as string[], modifiedAt as string[], taxNumber as string[], phone as string[], email as string[], addressEntity as (id as string, caption as string, schema as string, properties as (full as string[], country as string[], street as string[], postalCode as string[], city as string[], region as string[]), referents as string[], datasets as string[], first_seen as string, last_seen as string, last_change as string, target as boolean)[], country as string[], website as string[], idNumber as string[], sourceUrl as string[], identification as (id as string, caption as string, schema as string, properties as (type as string[], summary as string[], holder as string[], number as string[], country as string[]), referents as string[], datasets as string[], first_seen as string, last_seen as string, last_change as string, target as boolean)[], gender as string[], lastName as string[], birthDate as string[], nationality as string[], firstName as string[], citizenship as string[], birthPlace as string[], sector as string[], incorporationDate as string[], weakAlias as string[], ownershipAsset as (id as string, caption as string, schema as string, properties as (role as string[], owner as (id as string, caption as string, schema as string, properties as (middleName as string[], birthDate as string[], passportNumber as string[], lastName as string[], name as string[], topics as string[], addressEntity as string[], gender as string[], country as string[], weakAlias as string[], address as string[], nationality as string[], birthPlace as string[], sourceUrl as string[]), referents as string[], datasets as string[], first_seen as string, last_seen as string, last_change as string, target as boolean)[], asset as string[]), referents as string[], datasets as string[], first_seen as string, last_seen as string, last_change as string, target as boolean)[]),",
						"          referents as string[],",
						"          datasets as string[],",
						"          first_seen as string,",
						"          last_seen as string,",
						"          last_change as string,",
						"          target as boolean",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     documentForm: 'documentPerLine') ~> GetSourceJSON",
						"FlattenSanctionDatasetAndCountryColumn filter((",
						"  schema == 'Organization' ||",
						"  schema == 'Company' ||",
						"  schema == 'LegalEntity' ||",
						"  schema == 'PublicBody'",
						")) ~> FilterEntityTypes",
						"GetSourceJSON derive(datasets = replace(   replace(     replace(toString(datasets), '\",\"', ','),     '[\"', ''   ),   '\"]', '' ),",
						"          country = replace(",
						"  replace(",
						"    replace(toString(properties.country), '\",\"', ','),",
						"    '[\"', ''",
						"  ),",
						"  '\"]', ''",
						")) ~> FlattenSanctionDatasetAndCountryColumn",
						"FilterEntityTypes filter(instr(datasets, 'us_ofac_sdn') > 0",
						"|| instr(datasets, 'us_ofac_cons') > 0",
						"|| instr(datasets, 'gb_hmt_sanctions') > 0",
						"|| instr(datasets, 'gb_fcdo_sanctions') > 0",
						"|| instr(datasets, 'eu_fsf') > 0",
						"|| instr(datasets, 'eu_journal_sanctions') > 0",
						"|| instr(datasets, 'au_dfat_sanctions') > 0",
						"|| instr(datasets, 'un_sc_sanctions') > 0) ~> FilterSanctionSources",
						"FilterSanctionSources sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:false,",
						"     updateable:false,",
						"     upsertable:true,",
						"     format: 'document',",
						"     partitionKey: ['/id'],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SinkCosmos"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_DownloadedJSON_Blob')]",
				"[concat(variables('factoryId'), '/datasets/ds_Cosmos')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/NarrowSanctionsList')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_DownloadedJSON_Blob",
								"type": "DatasetReference"
							},
							"name": "GetSourceJSON"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_TransformedJSON",
								"type": "DatasetReference"
							},
							"name": "SinkAzureBlob"
						}
					],
					"transformations": [
						{
							"name": "FilterEntityTypes",
							"description": "Only returns rows where 'schema' is Organizations, Company, LegalEntity or PublicBody"
						},
						{
							"name": "SelectRelevantColumnsOnly",
							"description": "Select columns 'caption, datasets, id, schema'"
						},
						{
							"name": "FlattenSanctionDatasetAndCountryColumn",
							"description": "Changes datasets from an array into a column"
						},
						{
							"name": "FilterSanctionSources",
							"description": "Only returns rows where 'datasets' is us_, eu_, gb_, or au_."
						}
					],
					"scriptLines": [
						"source(output(",
						"          id as string,",
						"          caption as string,",
						"          schema as string,",
						"          properties as (name as string[], topics as string[], ogrnCode as string[], jurisdiction as string[], alias as string[], innCode as string[], programId as string[], address as string[], sanctions as (id as string, caption as string, schema as string, properties as (programUrl as string[], provisions as string[], startDate as string[], sourceUrl as string[], program as string[], programId as string[], authority as string[], country as string[], duration as string[], authorityId as string[], status as string[], endDate as string[], entity as string[]), referents as string[], datasets as string[], first_seen as string, last_seen as string, last_change as string, target as boolean)[], registrationNumber as string[], notes as string[], modifiedAt as string[], taxNumber as string[], phone as string[], email as string[], addressEntity as (id as string, caption as string, schema as string, properties as (full as string[], country as string[], street as string[], postalCode as string[], city as string[], region as string[]), referents as string[], datasets as string[], first_seen as string, last_seen as string, last_change as string, target as boolean)[], country as string[], website as string[], idNumber as string[], sourceUrl as string[], identification as (id as string, caption as string, schema as string, properties as (type as string[], summary as string[], holder as string[], number as string[], country as string[]), referents as string[], datasets as string[], first_seen as string, last_seen as string, last_change as string, target as boolean)[], gender as string[], lastName as string[], birthDate as string[], nationality as string[], firstName as string[], citizenship as string[], birthPlace as string[], sector as string[], incorporationDate as string[], weakAlias as string[], ownershipAsset as (id as string, caption as string, schema as string, properties as (role as string[], owner as (id as string, caption as string, schema as string, properties as (middleName as string[], birthDate as string[], passportNumber as string[], lastName as string[], name as string[], topics as string[], addressEntity as string[], gender as string[], country as string[], weakAlias as string[], address as string[], nationality as string[], birthPlace as string[], sourceUrl as string[]), referents as string[], datasets as string[], first_seen as string, last_seen as string, last_change as string, target as boolean)[], asset as string[]), referents as string[], datasets as string[], first_seen as string, last_seen as string, last_change as string, target as boolean)[]),",
						"          referents as string[],",
						"          datasets as string[],",
						"          first_seen as string,",
						"          last_seen as string,",
						"          last_change as string,",
						"          target as boolean",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     documentForm: 'documentPerLine') ~> GetSourceJSON",
						"FlattenSanctionDatasetAndCountryColumn filter((",
						"  schema == 'Organization' ||",
						"  schema == 'Company' ||",
						"  schema == 'LegalEntity' ||",
						"  schema == 'PublicBody'",
						")) ~> FilterEntityTypes",
						"GetSourceJSON select(mapColumn(",
						"          caption,",
						"          datasets,",
						"          id,",
						"          schema,",
						"          country = properties.country",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SelectRelevantColumnsOnly",
						"SelectRelevantColumnsOnly derive(datasets = replace(   replace(     replace(toString(datasets), '\",\"', ','),     '[\"', ''   ),   '\"]', '' ),",
						"          country = replace(replace(replace(toString(country), '\",\"', ','), '[\"', ''   ), '\"]', '' )) ~> FlattenSanctionDatasetAndCountryColumn",
						"FilterEntityTypes filter(instr(datasets, 'us_ofac_sdn') > 0",
						"|| instr(datasets, 'us_ofac_cons') > 0",
						"|| instr(datasets, 'gb_hmt_sanctions') > 0",
						"|| instr(datasets, 'gb_fcdo_sanctions') > 0",
						"|| instr(datasets, 'eu_fsf') > 0",
						"|| instr(datasets, 'eu_journal_sanctions') > 0",
						"|| instr(datasets, 'au_dfat_sanctions') > 0",
						"|| instr(datasets, 'un_sc_sanctions') > 0) ~> FilterSanctionSources",
						"FilterSanctionSources sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     partitionFileNames:['targets.transformed.json'],",
						"     truncate: true,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> SinkAzureBlob"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_DownloadedJSON_Blob')]",
				"[concat(variables('factoryId'), '/datasets/ds_TransformedJSON')]"
			]
		}
	]
}